<div class='card'>
  <div class='align-items-center card-header'>
    <h5 class='float-left'>{{blog_title}}</h5>
    <p class='float text-right'>Posted by
      {{user.username}}
      at
      {{date_created}}</p>
  </div>
  <div class='card-body'>
    <div class='card-text'>
      <p>
        {{blog_text}}
      </p>
    </div>
  </div>
</div>