<div class='container'>
  <div
    class='card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0'
  >
    <div class='row align-items-center'>
      <div class='col-md-8 mb-3 mb-sm-0'>
        <h5 class='float-left'>
          <a href='/blog/{{id}}' class='text-primary'>{{blog_title}}</a>
        </h5>
        <p class='float text-right text-sm'>
          <span class='op-6'>Posted
            {{format_date date_created}}
            by
            {{user.username}}.</span>
        </p>
      </div>
    </div>
  </div>
</div>