<div class='container'>
  <div class='card'>
    <div class='card-body'>
      <div class='card-text'>
        <p>
          {{reply_text}}
        </p>
      </div>
      <div>
        <p class='float text-right'>Posted by
          {{user.username}}
          at
          {{format_date date_created}}</p>
      </div>
    </div>
  </div>
</div>