<div class='container'>
  <div
    class='row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0'
  >
    <div class='row text-right'>
      <div class='col-md-8 mb-3 mb-sm-0'>
          <a href='/post'>
            <h5 class="float">New Blog <i class="fa-solid fa-plus"></i></h5>     
          </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <h4 class="mb-3">Previous Blogs</h4>
</div>
{{#each blogs as |blog|}}
{{> dashboard-cards}}
{{/each}}
<script src="./javascript/delete.js"></script>