<div class='container'>
  <form class='col-12 form float-right'>
    <h4 class='mb-3'>Post New Blog</h4>
    <textarea
      class='form-control'
      id='typePost'
      placeholder='Enter text here...'
    ></textarea>
    <button
      type='submit'
      class='float-right btn btn-primary mb-2'
      id='postBtn'
    >Create</button>
  </form>
  <script src='/javascript/post.js'></script>
</div>